@tailwind base;
@tailwind components;
@tailwind utilities;

/* Base du site */

* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  box-sizing: border-box;
}

body {
  background-color: #e6e3de;
  overflow-x: hidden;
}

/*questions css*/
.questionscontent {
  background-color: rgb(32, 31, 31);
}

.questions {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  min-height: 100vh;
  background-color: rgb(32, 31, 31);
}

div span,
span.MuiStepLabel-label.Mui-active.MuiStepLabel-alternativeLabel.css-1hv8oq8-MuiStepLabel-label {
  color: white;
}

span.MuiStepLabel-label.Mui-completed.MuiStepLabel-alternativeLabel.css-1hv8oq8-MuiStepLabel-label {
  color: white;
}

.Intitulé {
  color: #e6e3de;
  font-size: 3rem;
  font-weight: bold;
  position: fixed;
  margin-top: calc(11rem + 60px);
}
.Button-Question {
  position: fixed;
  width: 50%;
  height: 4rem;
  margin-top: 29rem;
  font-size: 2rem;
  border-radius: 1rem;
  background: none;
  color: #e6e3de;
  border: 2px solid #e6e3de;
  &:enabled:hover {
    background-color: #e6e3de;
    color: #000;
  }

  &:disabled:hover {
    background: none;
    color: #e6e3de;
  }
}

.QuestionInput {
  width: 50%;
  position: fixed;
  margin-top: 23rem;
  transform: translateX(-50%);
  padding: 1rem;
  text-align: center;
  background-color: #e6e3de;
  color: #000;
  border-radius: 16px;
  font-size: larger;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;

  .questionContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #e6e3de;
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
    border: 1px solid #e6e3de;
    border-radius: 2rem;
    min-width: 40rem;
    min-height: 4rem;
  }
}

.top-bloc {
  min-height: 30rem;
  min-width: 40rem;
  padding: 4rem;
  border: 1px solid #e6e3de;
  border-radius: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.bottom-bloc {
  min-height: 20rem;
  min-width: 100%;
  border: 1px solid #e6e3de;
  border-radius: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;

  .pub {
    font-size: 0.7rem;
    color: #e6e3de;
    margin-top: 2rem;
  }

  .infoContainer {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 50%;
  }

  .promocode {
    padding: 2rem;
    font-size: 3rem;
    margin-bottom: 1rem;
    color: #e6e3de;
    max-width: 50%;
  }

  .questionButton {
    width: 100%;
    height: 4rem;
    margin-top: 2rem;
    font-size: 2rem;
    border-radius: 1rem;
    background: none;
    color: #e6e3de;
    border: 2px solid #e6e3de;

    &:enabled:hover {
      background-color: #e6e3de;
      color: #000;
    }
  }

  form {
    width: 100%;
  }

  .EmailInput {
    width: 100%;
    height: 4rem;
    margin-top: 2rem;
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
    border-radius: 1.5rem;
    background-color: #e6e3de;
    color: #000;
  }
}

.answer {
  font-size: 1.6rem;
  margin-bottom: 1rem;
  color: #e6e3de;
}

/*..........*/

body {
  margin: 0;
  background-color: #e6e3de;
}

.navbar-logo {
  width: 8rem;
  margin-left: 0.5rem;
}

.navbar-menu {
  display: flex;
  align-items: center;
}

.menu-divider {
  width: 1px;
  height: 1rem;
  background-color: white;
  margin: 0 0.5rem 0 0.5rem;
}

/* home page */

.homepage-body-content {
  padding-top: 20rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 99vw;
  height: 65vh;
  overflow-y: hidden;
}

.content-button {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 20rem;
  left: 50%;
  translate: -50%;
}

.body-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.body-center {
  display: flex;
  align-items: center;
  width: 90vw;
  height: 70vh;
  border: solid 1px black;
}

.spline {
  position: absolute;
  z-index: -1;
  width: 100vw;
  max-height: 100vh;
}

/* cacahuète */

@media screen and (max-width: 600px) {
  .navbar-menu-desktop {
    display: none;
  }
}

@media screen and (min-width: 601px) and (max-width: 800px) {
  .Intitulé {
    font-size: 2rem;
    margin-top: calc(10rem + 60px);
  }
  .QuestionInput {
    width: 80%;
    margin-top: 19.5rem;
  }
  .Button-Question {
    width: 80%;
    margin-top: 25rem;
  }
}

@media screen and (min-width: 400px) and (max-width: 600px) {
  .Intitulé {
    font-size: 1.5rem;
    margin-top: calc(10rem + 60px);
  }
  .QuestionInput {
    width: 80%;
    margin-top: 18rem;
  }
  .Button-Question {
    width: 80%;
    margin-top: 23.5rem;
  }
}

@media screen and (max-width: 400px) {
  .Intitulé {
    font-size: 1.5rem;
    margin-top: calc(10rem + 60px);
  }
  .QuestionInput {
    width: 80%;
    margin-top: 17rem;
  }
  .Button-Question {
    width: 80%;
    margin-top: 22rem;
  }

  .content-button {
    bottom: 8rem;
  }
  .pubitulic {
    display: flex;
    flex-direction: column;
  }
}

@media screen and (min-width: 601px) {
  .navbar-menu-mobile {
    display: none;
  }
}

@keyframes infiniteScroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}

.horizontal-scrolling-items {
  display: flex;
  font-size: 1rem;
  width: 2600px;
  animation-name: infiniteScroll;
  animation-duration: 20s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
.horizontal-scrolling-items__item {
  white-space: nowrap;
}

.container-pub {
  position: fixed;
  color: #28292c;
  background-color: white;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  z-index: 10;
  top: 5rem;
}

.pubitu {
  padding: 15rem 3rem 1rem 3rem;
  min-width: auto;
  max-width: 870px;
  margin: 0 auto 0 auto;
}

.pubi {
  margin-top: 1rem;
  color: #e6e3de;
  font-size: 1.2rem;
}

.questionText {
  font-size: 1.5rem;
  font-weight: bold;
}

.repqst {
  font-weight: 600;
}

.pubitulic {
  display: flex;
  align-items: center;
  margin-top: 1rem;
  border-radius: 1rem;
}

.leftside {
  margin: 0;
  width: 50%;
  padding: 0 2rem 1rem 2rem;
}

.textito {
  font-size: 0.6rem;
}

.rightside {
  border-radius: 5px;
  padding: 0.5rem;
  width: 100%;
  border: 2px solid #e6e3de;
}

.boutonenvoyer {
  &:enabled:hover {
    background-color: #e6e3de;
    color: #000;
  }
}

.textatata {
  margin-top: 2rem;
  border-radius: 5px;
  padding: 1rem;
  padding-top: 2rem;
  border: 2px solid #e6e3de;
  font-size: medium;
  text-align: center;
}
