@tailwind base;
@tailwind components;
@tailwind utilities;

/* Base du site */

* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: linear-gradient(145deg, #f6f3ee, #cfccc8);
}

/*questions css*/

.questions {
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-size: cover;
}

.questions {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 90vh;
  background-color: rgb(32, 31, 31);
}

.Intitulé {
  color: #e6e3de;
  font-size: 4rem;
  font-weight: bold;
  padding-bottom: 1rem;
}
.Button-Question {
  width: 15rem;
  height: 4rem;
  margin-top: 2rem;
  margin-left: 1rem;
  font-size: 2rem;
  border-radius: 1rem;
  background: none;
  color: #e6e3de;
  border: 2px solid #e6e3de;
  &:hover {
    background-color: #e6e3de;
    color: #000;
  }
}
.QuestionInput {
  width: 20rem;
  height: 2rem;
  margin-top: 2rem;
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  border-radius: 1.5rem;
  background-color: #e6e3de;
  color: #000;
}

.container {
  display: flex;
  flex-direction: row;
}
.left-bloc {
  height: 30rem;
  width: 40rem;
  padding: 2rem;
  border: 1px solid #e6e3de;
  border-radius: 2rem;
  margin-top: 20rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.right-bloc {
  height: 30rem;
  width: 40rem;
  padding: 2rem;
  border: 1px solid #e6e3de;
  margin-top: 20rem;
  border-radius: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.step-divider {
  width: 1px;
  height: 40rem;
  background-color: white;
  margin: 15rem 15rem;
}

.answer {
  font-size: 1.6rem;
  margin-bottom: 1rem;
  color: #e6e3de;
}

.promocode {
  font-size: 1.6rem;
  margin-bottom: 1rem;
  margin-left: 2rem;
  color: #e6e3de;
}

/*..........*/

body {
  margin: 0;
  background-color: white;
}

.navbar-logo {
  width: 8rem;
  margin-left: 0.5rem;
}

.navbar-menu {
  display: flex;
  align-items: center;
}

.menu-divider {
  width: 1px;
  height: 1rem;
  background-color: white;
  margin: 0 0.5rem 0 0.5rem;
}

/* home page */

.homepage-body-content {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100vw;
  height: 90vh;
}

.content-button {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 8rem;
  left: 50%;
  translate: -50%;
}

.body-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.body-center {
  display: flex;
  align-items: center;
  width: 90vw;
  height: 70vh;
  border: solid 1px black;
}

.home-page-title {
  position: absolute;
  width: 50rem;
  translate: 25vh;
}

.spline {
  position: absolute;
  z-index: -1;
  width: 100vw;
  max-height: 100vh;
}

.home-page-button {
  width: 100%;
  display: flex;
  justify-content: center;
}
